.calculator {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

.answer {
  font-size: 40px;
  text-align: right;
  background-color: #858694;
  color: white;
  padding: 1rem;
  margin-right: 2px;
}

.buttons {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.button {
  width: 7.03rem;
  height: 76px;
  font-size: 24px;
  background-color: #e0e0e0;
  border: 1px solid white;
}

.double-button {
  width: 14.06rem;
}

.orange {
  background-color: #f5913e;
}
